$width: 250px;
$height: 600px;
$icon_color:#aaa;
.levels_mid {
    width: $width - 20px;
    margin: 0 auto;
    height: $height;
    background: url("../vape_middle.png");
    .levels_container {
        height: 100%;
        .levels_wrapper{
            width: 100%;
            height: 100%;
            position: relative;
        }
        
        .levels_levels{
            position: relative;
            width: 100%;
        }
        .levels_fill_wrap{
            width: 100%;
            height: 100%;
            position: absolute;
            overflow-y: hidden;
        }
        .levels_fill{
            background:fade-out(blue,.7);
            width: 100%;
            position: absolute;
            bottom: 0;
            animation-delay: 2s;
            p{
                position: absolute;
                left: -100%;
            }
            img{
                position: relative;
                left: -10px;
                top:0px;
                width: $height/30;
                height: $height/30;
            }
        }
        .lvl {
            text-align: right;
            position: relative;
            right: -45px;
            .lvl_key {
                color: orange;
                position: absolute;
                right: -5px;
                top: 0px;
            }
            .lvl_amount {
                color: orange;
                position: absolute;
                right: -50px;
                top: 0px;
            }
            .lvl_pointer {
                position: relative;
                left: -40px;
                width: $height/30;
                height: $height/30;
            }
        }
    }
}

.levels_top,
.levels_bot {
    @extend .levels_mid;
    width: $width;
    height: $height/3;
}
.levels_hidden{
    @extend .levels_fill;
    background: none!important;
    div{
        animation-delay: 2s;
    }
}
.levels{
    background:#333;
    height: 100%;
}
.levels_top{
    background: url("../vape_top.png");
}
.levels_bot{
    background: url("../vape_bottom.png");
}
.levels_menu_item{
    padding: 20px;
    width: 30%;
    color:#aaa;
    p{
        width: 150px;
        font-size: 1.3em;
        float:left;
        line-height: 30px;
        text-align: center;
        padding-right: 10px;
    }
    div{
        background: fade-out(white,0.85);
        text-shadow: 1px 1px rgba(0,0,0,0.2);
        float:left;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}
.levels_whole {
    animation-delay:1s;
    float: right;
    padding-right: 100px;
}
.all_levels{
    animation-delay:2s;
}
.levels_label{
    opacity: .7;
}
.levels_menu{
    height: 20%;
    animation-delay: 1s;
}
.levels a{
    display: inline-block;
    background: fade-out(white,0.85);
    width: 147px;
    height: 40px;
    span{
        text-shadow: 1px 1px rgba(0,0,0,0.2);
        color:#aaa;
        display: block;
        margin: 0 auto;
        line-height: 40px;
        text-align: center;
    }
    i{
        font-size: 25px!important;
        color:$icon_color;

    }
}
.levels_buttons{
    animation-delay: 3s;
    height: 10%;
    padding-top: 10px;
    padding-left: 35px;
}
table{
    animation-delay: 2s;
    position: absolute;
    top: 250px;
    left:50px;
    width: 50%;
    height: 30%;
    background: fade-out(white,0.85);
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    color:#aaa;
    td,th{
        border-color: #333!important;
    }
}